body{
  color: rgb(62, 62, 62);
  background-image: url("../public/bckg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
  
}
.image{
  margin-top: 20px;
}

h1, h2{
  font-family: 'Bebas Neue', sans-serif;
}
h2{
  font-weight: 300;
}

img{
  max-width: 100%;
  border-radius: 10px;
}

main{
  background-color: rgba(255, 255, 255, 0.955);
  padding: 10px 50px;
  max-width: 50%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

header{
  
 
  display: flex;
  justify-content:space-between;
  align-items: bottom;
  
}

header a{
  margin-top: 20px;
  text-decoration: none;
  color: inherit;
  font-size: x-large;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', sans-serif;
  
  
  

}

header nav{
  display: flex;
  gap: 30px;
  
  
}

.logo{
  color: #ff6d6ded;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
  font-size: xx-large;
}

.post{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 40px;
  align-items: center;
  padding: 7% 5%;
  border-radius: 20px;
}

.post:hover{
  opacity: 90%;
}


@media screen and (min-width: 768px){
  .post{
    grid-template-columns: 1.2fr 0.8fr;
  }
}

.text-container{
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.title{
  margin: 0;
  font-size: 1.6rem;
  text-decoration: none;
  color: inherit;  
}
.title:hover{
  color:#ff6d6ded
}


div.post div.info{
  margin: 0;
  color: #888;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: large;
  font-family: 'Exo 2', sans-serif;
  
}

.desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  
  font-size: large;
  font-family: 'Exo 2', sans-serif;
  color: #4c4c4c;

}

form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

form input{
  display: block;
  margin:5px 0;
  border-radius: 5px;
  border: none;
  height: 30px;
  background-color: #eee;
  padding:10px;

}

form button{
  margin: 10px auto;
  width: 30%;
  height: 40px;
  background-color: #ff6d6ded;
  color: white;
  border: none;
  border-radius: 10px;
  
}

form button:hover{
  box-shadow: 0px 0px 10px #ff6d6ded;
}

form h1{
  margin: 10px auto;
}


footer{

  background-color: rgb(62, 62, 62);
  width: 100%;

  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}




.content img{
  width: 80%;
  height: auto;
  
}

.author{
  text-decoration: none;
  color: inherit;
}

.author:hover{
 
    color:#ff6d6ded
  
}

.content{
  margin-top: 5vh;
  font-size: large;
  color: #525252;
  text-decoration: none;

}

.content a{
  text-decoration: none;
  color: #525252;
  font-weight: 400;
}


.blogPost{
  text-align: center;
}

ul {
  list-style-type: none;
}

.message{
  text-align: center;
  margin-top: 30px;
  font-size: large;
}

.messageL{
  text-decoration: none;
  color: #ff6d6ded;
  font-size: x-large;
  font-family: 'Bebas Neue', sans-serif;
  margin-left: 10px;
}

.blogInfo{
  display: flex;
  justify-content: space-between;
}

.authorName{
  text-decoration: none;
  color: inherit;
  font-size: large;
  font-weight: 500;
  margin-top: 10px;
}

.postDate{
  font-weight: 500;
}

.editBtn{
  margin: 10px auto;
  width: 100%;
  height: 40px;
  background-color: #ff6d6ded;
  color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editBtn:hover{
  box-shadow: 0px 0px 10px #ff6d6ded;
}
.editBtn svg{
  height: 20px;
  margin-left: 10px;
}


.authorDiv{
  display: flex;
  gap: 10px;
}

.postTitle{
  font-size: 5vh;
  margin-bottom: 10px;
}

.createBlogTitle{
  text-align: center;
  font-size: 5vh;
  margin-bottom: 40px;

}
.createForm{
  width: 80%;
}

.createForm input{
  height: 40px;
  margin-bottom: 15px;

}

.fileInput{
  margin: 10px auto;
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  background-color: #ff6d6ded;
  color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileInput svg{
  
    height: 20px;
    margin-right: 10px;
  
}

input[type="file"] {
  display: none;
}

.postDesc{
  font-size: 2.5vh;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 200;
}

p{
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 100;
}

.userPostsTitle{
  text-align: center;
  margin-top: 40px;
  
}

.userPostsTitle h1{
  font-size: 5vh;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
  }
}




.nav-menu{

  display: flex;
  gap: 15px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
.nav-menu a:hover{
  color: #b3b3b3;
}

.nav-btn{
  color: #ff6d6ded;
  background-color: inherit;
  border: none;
  font-family: 'Bebas Neue', sans-serif;
  font-size: xx-large;
}

.nav-btn:hover{
  text-shadow: 0px 5px 5px #ff6d6ded;
}




